.box {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    font-weight: 400;
    

  }
.strong{
    
    opacity: 1;
    font-weight: bold;
    margin-right: 8px;

}
.comment{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    font-weight: 400;
}